### Importing Data in pandas

#### 1. Working with CSV

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# path can be a local file as well as an url
path = os.path.join("data", "titanic.csv")
df = pd.read_csv(
    path,
    index_col="PassengerId",
    converters={"Sex": lambda x: "M" if x == "male" else "F"},
)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",M,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",F,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",M,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",M,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",F,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",F,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",M,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",M,32.0,0,0,370376,7.7500,NaN,Q

#### 2. Working with JSON

In [3]:
import pandas as pd

In [4]:
path = os.path.join("data", "movies.json")
df = pd.read_json(path)
df.sample(5)

,adult,backdrop_path,genre_ids,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
129,False,/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg,"[16, 10751, 14]",ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",111.489,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.540,15727
278,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,111.651,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.705,25849
389,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],en,12 Angry Men,The defense and the prosecution have rested an...,38.881,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.541,8140
496243,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"[35, 53, 18]",ko,기생충,"All unemployed, Ki-taek's family takes peculia...",81.413,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.511,17321
346,False,/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg,"[28, 18]",ja,七人の侍,A samurai answers a village's request for prot...,38.875,/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg,1954-04-26,Seven Samurai,False,8.455,3442

#### 3. Working with API

In [5]:
import pandas as pd
import requests

# api-key has been revoked 😜
token = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxZGI2ODJkZDA4OWU5ZjYwNDI2MjdjNmEzMzU2NjgzMSIsInN1YiI6IjY2MDQyZjk0NjA2MjBhMDE3YzMwN2Q1ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Sl40oXQrDTPBHKuFJ5zlnG3uFV5hsH40jpHeerwBblU"
headers = {"Authorization": f"Bearer {token}"}
url = "https://api.themoviedb.org/3/movie/top_rated"
data = requests.get(url, headers=headers).json()

df = pd.DataFrame(data["results"]).set_index("id")
df.sample(5)

,adult,backdrop_path,genre_ids,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
id,,,,,,,,,,,,,
11216,False,/zoVeIgKzGJzpdG6Gwnr7iOYfIMU.jpg,"[18, 10749]",it,Nuovo Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",29.581,/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg,1988-11-17,Cinema Paradiso,False,8.500,4157
238,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",95.059,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.695,19623
12477,False,/dlC0ed9Ugh3FzydnkBtV5lRXUu4.jpg,"[16, 18, 10752]",ja,火垂るの墓,"In the final months of World War II, 14-year-o...",0.600,/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg,1988-04-16,Grave of the Fireflies,False,8.464,5172
372058,False,/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg,"[16, 10749, 18]",ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,77.466,/q719jXXEzOoYaps6babgKnONONX.jpg,2016-08-26,Your Name.,False,8.498,10853
496243,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"[35, 53, 18]",ko,기생충,"All unemployed, Ki-taek's family takes peculia...",81.413,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.511,17324