### Importing Data in pandas

#### 1. Working with CSV

In [62]:
import pandas as pd
import numpy as np
import os

In [63]:
# path can be a local file as well as an url
path = os.path.join("data","titanic.csv")
df = pd.read_csv(path, index_col="PassengerId", converters={"Sex": lambda x: "M" if x == "male" else "F"})
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",M,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",F,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",M,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",M,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",F,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",F,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",M,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",M,32.0,0,0,370376,7.7500,NaN,Q

#### 2. Working with JSON

In [64]:
import pandas as pd

In [65]:
path = os.path.join("data","movies.json")
df = pd.read_json(path)
df.sample(5)

,adult,backdrop_path,genre_ids,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
13,False,/qdIMHd4sEfJSckfVJfKQvisL02a.jpg,"[35, 18, 10749]",en,Forrest Gump,A man with a low IQ has accomplished great thi...,95.638,/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg,1994-06-23,Forrest Gump,False,8.476,26370
278,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,111.651,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.705,25849
240,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",en,The Godfather Part II,In the continuing saga of the Corleone crime f...,73.857,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.600,11855
19404,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",33.457,/lfRkUr7DYdHldAqi3PwdQGBRBPM.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.534,4359
497,False,/vxJ08SvwomfKbpboCWynC3uqUg4.jpg,"[14, 18, 80]",en,The Green Mile,A supernatural tale set on death row in a Sout...,76.393,/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg,1999-12-10,The Green Mile,False,8.507,16645

#### 3. Working with API

In [66]:
import pandas as pd
import requests

token = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxZGI2ODJkZDA4OWU5ZjYwNDI2MjdjNmEzMzU2NjgzMSIsInN1YiI6IjY2MDQyZjk0NjA2MjBhMDE3YzMwN2Q1ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Sl40oXQrDTPBHKuFJ5zlnG3uFV5hsH40jpHeerwBblU"
headers = {"Authorization": f"Bearer {token}"}
url = "https://api.themoviedb.org/3/movie/top_rated"
data = requests.get(url, headers=headers).json()

df = pd.DataFrame(data["results"]).set_index("id")
df.sample(5)

,adult,backdrop_path,genre_ids,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
id,,,,,,,,,,,,,
389,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],en,12 Angry Men,The defense and the prosecution have rested an...,38.881,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.541,8140
122,False,/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg,"[12, 14, 28]",en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,109.621,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,2003-12-01,The Lord of the Rings: The Return of the King,False,8.478,23188
424,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",en,Schindler's List,The true story of how businessman Oskar Schind...,77.933,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.567,15241
278,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,111.651,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.705,25849
129,False,/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg,"[16, 10751, 14]",ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",111.489,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.540,15727