### Pandas profiling

In [1]:
import os
import pandas as pd
from ydata_profiling import ProfileReport

In [2]:
path = os.path.join("..", "data", "titanic.csv")
df = pd.read_csv(path)
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
354,355,0,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
514,515,0,3,"Coleff, Mr. Satio",male,24.0,0,0,349209,7.4958,NaN,S
226,227,1,2,"Mellors, Mr. William John",male,19.0,0,0,SW/PP 751,10.5000,NaN,S

In [3]:
profile = ProfileReport(df)

In [5]:
path = os.path.join("..", "output", "titanic_profile.html")
profile.to_file(path)

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]